.wrapper {
    margin: auto;
    max-width: 1000px;
    padding: 0 3rem;

    .houses {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        margin-top: 0.75rem;
    }
}

@media (max-width: 800px) {
    .wrapper {
        .houses {
            grid-template-columns: 1fr 1fr;
        }
    }
}