.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 200;
    transition: 400ms;
    background-color: #ffffffaa;
    max-width: 300px;

    .houseImg {
        width: 100%;
        object-fit: cover;
        height: 100%;
        margin-bottom: 0.25rem;
    }

    .titleAndFav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1 {
            font-size: 1.1rem;

            a {
                color: black;
                text-decoration: none;
            }
        }

        img {
            height: 24px;
        }
    }

    .zip {
        font-size: 0.95rem;
        font-weight: 600;
    }

    .type {
        font-weight: 500;
        font-size: 0.85rem;
    }

    .EnergyInfoPrice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;

        .energyDiv {
            font-size: 0.8rem;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            h4 {
                padding: 3px 8px;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .price {
            font-weight: 600;
            font-size: 0.9rem;
        }
    }
}


.wrapper:hover {
    scale: 1.025;
    background-color: #dabbe0aa;
}